
extends ./_layout.jade

block content
  //- HERO
  .hero

    .portfolio
      svg.draw(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', x='0px', y='0px', viewbox='0 0 720 120', style='enable-background:new 0 0 720 120;', xml:space='preserve')
        g#P
          path.st0(d='M52,0H0v120h52V96c26.5,0,48-21.5,48-48C100,21.5,78.5,0,52,0z')
        g#O
          circle.st0(cx='256', cy='60', r='60')
        g#R
          path.st1(d='M462,0h-44v88h44c24.3,0,44-19.7,44-44S486.3,0,462,0z')
          polygon.st0(points='418,0 418,0 418,120 506,120 506,120')
        g#T
          polygon.st0(points='718,0 684,0 684,0 636,0 636,0 602,0 602,40 636,40 636,120 684,120 684,40 718,40')
          rect.st1(x='636', y='40', width='48', height='80')



    header#header
      a(href="#").logo
        img(src="images/Logo.svg", alt="logo")
      a(href="https://github.com/ToxChen/About_me/blob/master/README.md" target="_blank").btn.resume
        span(data-hover="resume") Resume

    .social
      a(href="https://www.behance.net/azx011014fa1e" target="_blank").behance
        i.fab.fa-behance
      a(href="https://dribbble.com/Tox-Chen" target="_blank").dribbble
        i.fab.fa-dribbble
      
    .scroll
      a(href="javascript:;").arrow

  //- ABOUT
  #about
    .about-wrapper.wow.fadeInUp(data-wow-duration="1s")
      .about-img-wrapper
        .about-img
      .about-info
        h2 關於我
        h3 ABOUT
        .intro
          p
            | 哈囉，我是陳建良，畢業於朝陽科技大學 - 資訊管理系(數位多媒體組)。
            span.interest 我喜歡設計、撰寫網頁以及動畫創作
            | ，認為把腦海中的想法呈現出來是很有成就感的一件事。
          p 平時喜歡瀏覽 Behance 以及 Dribbble 等設計相關網站，觀摩、學習優秀的設計作品，並培養自己的設計美感以及優化使用者體驗。
          //- a(href="https://github.com/ToxChen/About_me" target="_blank").btn.view
          //-   span(data-hover="more") more
  #app
    ul#works
      li.work-wrapper.wow.fadeInUp(v-for="(item,key) in works" data-wow-duration="1s")
        .work-img-wrapper
          .work-img(:style="{backgroundImage: `url(${item.img})`}")
        .work-info
          h2 {{item.title}}
          h3 WORK 0{{key+1}}
          span {{item.category}}
          //- p {{item.description}}
          a(:href="item.link" target="_blank").btn.view
            span(data-hover="view") view


    
